@font-face {
    font-family: workSans;
    src: url('../fonts/WorkSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: Lora;
    src: url('../fonts/Lora-VariableFont_wght.ttf');
}

@font-face {
    font-family: PressStart;
    src: url('../fonts/PressStart2P-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    transition: box-shadow .2s;
    border-radius: 20px;
    &:hover {
        box-shadow: 0px 0px 10px #000000;
        border-radius: 20px;
    }
}

html {
    font-size: 62.5%;
}
