$mainColor: #fff;
$secondColor: #000;
$curtainColorMain: rgb(187, 1, 1);
$curtainColorMain1: rgb(182, 23, 23);
$curtainColorMain2: rgb(203, 49, 49);
$heroColor: rgb(252, 223, 122);
$heroSecondColor: #2C3B14;
$stoneColor: rgb(185, 179, 174);
$stoneDarkColor: #969696;
$backgroundColor: rgb(11, 11, 68);
$boardColor: rgb(27, 57, 132);
$boardSecondColor: rgb(73, 168, 251);
$lightColor: rgba(252, 255, 95, 0.801);
$lightSecondColor: rgb(252, 255, 95);
$lightThirdColor: rgb(255, 252, 45);

/* p span h3 h2 h1 */
$fontsSizes: 2rem, 2.2rem, 4rem, 8.3rem, 5rem;
$lineHeights: 3.2rem, 3.2rem, 8.2rem, 7.0rem, 6.3rem;
$gap-row: 5vw;
$gap-column: 5vh;